<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="stylessheet/general.css">
</head>

<body>
    <div id="app">
        <div class="container" id="senate">
            <div class="logodiv">
                <img src="tgiflogo.jpg" alt="tgif logo" class="logo">
            </div>

            <div class="menuz">
                <nav>
                    <ul class="nav navbar-nav">
                        <li><a href="index.html">Home</a></li>
                        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="Congnm">Congress 113 <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="senate-starter-page.html">Senate</a></li>
                                <li><a href="house-starter-page.html">House</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="Attem">Attendance <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="senate-attendancewvue.html">Senate</a></li>
                                <li><a href="house-attendance%20vue.html">House</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="Partm">Party Loyalty <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="active"><a href="senate-party-loyalty%20vue.html">Senate</a></li>
                                <li><a href="house-party-loyalty%20vue.html">House</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>

            <!--Table container-->
            <div class="aligned">
                <div class="text">
                <h2>Party Loyalty</h2>
                <p>Those who consider themselves to be strong partisans, strong Democrats and strong Republicans respectively, tend to be the most faithful in voting for their party's nominee for office and legislation that backs their party's agenda. </p>
                </div>

                <div class="glance">
                    <h2>Senate at a glance</h2>
                    <div class="panel panel-default">
                        <table id="senate-glance" class="table table-striped">
                            <thead>
                                <tr id="tablehead">
                                    <th>Party</th>
                                    <th>Number of Reps</th>
                                    <th>% Voted with Prty</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Republican</td>
                                    <td>{{statistics.numRep}}</td>
                                    <td>{{statistics.withRep}}</td>
                                </tr>
                                <tr>
                                    <td>Democrat</td>
                                    <td>{{statistics.numDem}}</td>
                                    <td>{{statistics.withDem}}</td>
                                </tr>
                                <tr>
                                    <td>Independent</td>
                                    <td>{{statistics.numInd}}</td>
                                    <td>N/A</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
            <div class="aligned2">
                <div class="leastaligned">
                    <h2>Least Loyal (Bottom 10% of Party)</h2>
                    <div class="panel panel-default">
                        <table id="senate-least-loyal" class="table table-striped">
                            <thead id="thead2">
                                <tr>
                                    <th>Name</th>
                                    <th>Total Votes</th>
                                    <th>% Party Votes</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="member in statistics.leastloyalvotes">
                                    <td v-if="member.middle_name === null"><a :href="member.url">{{member.first_name + " " + member.last_name}}</a></td>
                                    <td v-else><a :href="member.url">{{member.first_name + " " + member.middle_name + " " + member.last_name}}</a></td>
                                    <td>{{member.total_votes}}</td>
                                    <td>{{member.votes_with_party_pct}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="mostaligned">
                    <h2>Most Loyal (Top 10% of Party)</h2>
                    <div class="panel panel-default">
                        <table id="senate-most-loyal" class="table table-striped">
                            <thead id="thead1">
                                <tr>
                                    <th>Name</th>
                                    <th>Number Party Votes</th>
                                    <th>% Party Votes</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="member in statistics.mostloyalvotes">
                                    <td v-if="member.middle_name === null"><a :href="member.url">{{member.first_name + " " + member.last_name}}</a></td>
                                    <td v-else><a :href="member.url">{{member.first_name + " " + member.middle_name + " " + member.last_name}}</a></td>
                                    <td>{{member.total_votes}}</td>
                                    <td>{{member.votes_with_party_pct}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!--    <script src="pro-congress-113-senate.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="statisticsvue.js"></script>
</body>

</html>
